.footer{
    width: 100%;
    padding: 20px;
    background-color: #353535;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p, .footer-links{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-link{
    text-decoration: none;
    color: #fff;
}

.footer-link:hover{
    opacity: 0.6;
}