.purchase{
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: 0.3s all;
}

.purchase:hover{
    background-color: #eee;
}

.purchase-info{
    display: flex;
}

.purchase img{
    margin-right: 20px;
    border-radius: 10px;
}

.purchase-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.purchase-description h1{
    font-size: 1.5em;
}

.purchase-description-stock{    
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
}

.purchase-description-stock span{
    font-weight: bold;
}

.purchase-description-price{
    color: #6B8E23;
}

.purchase-btn-show, .my-cart-list-btn-show{
    padding: 15px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    background-color: #284B63;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
    border: 2px solid #284B63;

}

.purchase button:hover{
    opacity: 0.9;
}




/* style para lista de carrinho */

.my-cart-list-btns{
    display: flex;
    flex-direction: column;
}

.my-cart-list-btn-remove{
    padding: 15px;
    font-size: 1em;
    border-radius: 10px;
    border: 2px solid #284B63;
    background-color: #fff;
    color: #284B63;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all;
    margin-top: 10px;
}

.my-cart-list-btn-remove:hover{
    background-color: #284B63;
    color: #fff;
}