.nav{
    width: 100%;
    background-color: #353535;
    margin-bottom: 70px;
    height: 80px;
}

.nav-container{
    display: flex;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}

.nav-container h1{
    color: #fff;
    font-size: 2em;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-img{
    border-radius: 50%;
    background-color: #fff;
    width: 28px;
    height: 28px;
}

.nav-links p, img{
    transition: 0.2s all ease;
}

.nav-links p{
    font-size: 1.1em;
    color: #fff;
}

.nav-link:hover{
    opacity: 0.6;
}

.nav-link-icon{
    color: #fff;
}

.sidebar-menu{
    display: none;
    cursor: pointer;
    transition: 0.3s all ease;
}


@media (max-width: 600px) {

    .nav{
        margin-bottom: 30px;
    }
 
    .sidebar-menu{
        display: block;
        color: #fff;
    }

    .nav-links{
        display: none;
    }

}